<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <link href="~/Content/toastr.min.css" rel="stylesheet" />
        <link href="~/Content/jqx.base.css" rel="stylesheet" />
        <link href="~/Content/jqx.bootstrap.css" rel="stylesheet" />
        <link href="~/Content/jqx.metro.css" rel="stylesheet" />
        <link href="~/Content/application.css" rel="stylesheet" />
        @RenderSection("styles", false)
        <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.min.js"></script>
        <script src="~/Scripts/vendor/jqWidgets/jqx-all.js"></script>
        <script src="~/Scripts/toastr.min.js"></script>
        <script src="~/Scripts/app/application.js"></script>
        <script>
            MVCAdmin.init();
        </script>
        @RenderSection("scripts", false)
    </head>
    <body>
        @Html.Action("GetHeader", "Home")
        @RenderBody()
    </body>
</html>