@model Korsinici.Web.ViewModels.LoginViewModel
<!DOCTYPE html>
<html>
    <head>
        <title>Prijava</title>
        <link href="~/Content/jqx.base.css" rel="stylesheet" />
        <link href="~/Content/jqx.bootstrap.css" rel="stylesheet" />
        <link href="~/Content/jqx.metro.css" rel="stylesheet" />
        <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.min.js"></script>
        <script src="~/Scripts/jqxcore.js"></script>
        <script src="~/Scripts/jqxinput.js"></script>
        <script src="~/Scripts/jqxbuttons.js"></script>
        <script>
            $(function() {
                var theme = 'metro',
                    username = $("#User_Username"),
                    password = $("#User_Password"),
                    btnSubmit = $("#btnSubmit"),
                    application = $("#User_Application");

                username.jqxInput({ theme: theme, width: 320, height: 24, placeHolder: 'Korisničko ime' });
                password.jqxInput({ theme: theme, width: 320, height: 24, placeHolder: 'Lozinka' });
                btnSubmit.jqxButton({ theme: theme, width: 84, height: 34 });
                username.focus();
            })
        </script>
        <style>
            body {
                font-family: 'segoe ui', arial, sans-serif;
                width: 324px;
                margin: auto;
            }
            ul {
                font-size: 8pt;
                color: red;
                list-style-type: none;
                margin: 4px;
                padding: 0;
            }
            #User_Username, #User_Password, #btnSubmit {
                padding: 4px;
            }
            .line {
                margin: 4px;
            }
            input:focus {
                border: 1px solid black;
            }
            form {
                position: absolute;
                top: 30%;
                margin-top: -77px;
            }
            
            a:hover {
                color: #338ED1;
            }
            a, a:visited {
                color: #0072C6;
            }
            a:visited {
                color: #2672EC;
            }
            a, a:visited {
                color: #0072C6;
            }
            a {
                margin: 4px;
                font-size: 12px;
                text-decoration: none;
                color: #2672EC;
                cursor: pointer;
            }
            p {
                font-size: 14px;
            }
            p span a {
                font-size: 14px;
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        
        @using (@Html.BeginForm())
        {
            if (Model.Logo != null)
            {
                <img src="@Url.Content("~/Content/images/logo/" + @Model.Logo)" alt="@Model.ApplicationName"/>
            }
            else
            {
                <h1>
                    @Model.ApplicationName
                </h1>    
            }
            
            @Html.HiddenFor(x => x.User.Application)
            <div class="line">
                @Html.TextBoxFor(x => x.User.Username)    
            </div>
            <div class="line">
                @Html.PasswordFor(x => x.User.Password)    
            </div>
            @Html.ValidationSummary()
            <div class="line" style="margin-top: 8px">
                <input type="submit" value="Prijavi me" id="btnSubmit" />    
            </div>
            <div>
                @Html.ActionLink("Zaboravili ste lozinku?", "")
            </div>
            <p>Nemate kreiran nalog? <span>@Html.ActionLink("Kreirajte nalog", "")</span></p>
        }
    </body>
</html>