@model Korsinici.Web.ViewModels.LoginViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <title>Prijava</title>
        <link href="~/Content/jqx.base.css" rel="stylesheet" />
        <link href="~/Content/jqx.bootstrap.css" rel="stylesheet" />
        <link href="~/Content/jqx.metro.css" rel="stylesheet" />
        <link href="~/Content/account.css" rel="stylesheet" />
        <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.min.js"></script>
        <script src="~/Scripts/vendor/jqWidgets/jqxcore.js"></script>
        <script src="~/Scripts/vendor/jqWidgets/jqxinput.js"></script>
        <script src="~/Scripts/vendor/jqWidgets/jqxbuttons.js"></script>
        <script>
            $(function() {
                var theme = 'metro',
                    username = $("#User_Username"),
                    password = $("#User_Password"),
                    btnSubmit = $("#btnSubmit"),
                    application = $("#User_Application");

                username.jqxInput({ theme: theme, placeHolder: 'Korisničko ime' });
                password.jqxInput({ theme: theme, placeHolder: 'Lozinka' });
                btnSubmit.jqxButton({ theme: theme });
                username.focus();
            })
        </script>
        <style>
            #User_Username, #User_Password, #btnSubmit {
                padding: 4px;
            }
           
            form {
                position: absolute;
                top: 30%;
                margin-top: -77px;
            }
            
            p span a {
                font-size: 14px;
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        
        @using (@Html.BeginForm())
        {
            @Html.HiddenFor(x => x.ApplicationCode)
            @Html.HiddenFor(x => x.ApplicationName)
            @Html.HiddenFor(x => x.Logo)

            if (Model.Logo != null)
            {
                <img src="@Url.Content("~/Content/images/logo/" + @Model.Logo)" alt="@Model.ApplicationName"/>
            }
            else
            {
                <h1>
                    @Model.ApplicationName
                </h1>    
            }
            
            @Html.HiddenFor(x => x.User.Application)
            <div class="line">
                @Html.TextBoxFor(x => x.User.Username)    
            </div>
            <div class="line">
                @Html.PasswordFor(x => x.User.Password)    
            </div>
            @Html.ValidationSummary()
            if (TempData["Error"] != null)
            {
                <p class="errorSummary">@TempData["Error"]</p>
            }
            <div class="line" style="margin-top: 8px">
                <input type="submit" value="Prijavi me" id="btnSubmit" />    
            </div>
            <div>
                @Html.ActionLink("Zaboravili ste lozinku?", "ZaboravljenaLozinka", new {appCode = Model.ApplicationCode})
            </div>
            <p>Nemate kreiran nalog? <span>@Html.ActionLink("Kreirajte nalog", "Register", new {appCode = Model.ApplicationCode})</span></p>
        }
    </body>
</html>