@using rs.mvc.Korisnici.Model
@using Korsinici.Web.Helpers
<!DOCTYPE html>
@{
    var korisnik = (Korisnik)ViewData["Korisnik"];
    var application = (Aplikacija) ViewData["Application"];
    var link = @Url.ActionAbsolute("MojProfil", "Account") + "?" + "appCode=" + application.Kod + "&verificationKey=" + korisnik.TemporaryPassword;
    var logoSrc = @Url.GetBaseUrl() + "/Content/images/logo/" + application.Logo;
}

<div style="font-family: 'segoe ui', arial, sans-serif;">
    @if (korisnik != null) {
        <p>Poštovani @(korisnik.Ime + " " + @korisnik.Prezime), <br /> 
            Primili ste ovaj e-mail pošto ste zahtevali promenu lozinke za aplikaciju @application.Naziv</p>
        <p>Da biste resetovali lozinku, molim pritisnite dugme "Moj nalog" ili kopirajte donji link u Vaš browser. Kada uđete u Vaš nalog imaćete opciju da promenite Vašu lozinku
        </p>
        <a style="background-color:  #338ED1;width: 138px;height: 16px;display: block;color: white;padding: 16px 0;text-decoration: none;font-weight: bold;border-radius: 10px; text-align: center; margin: 24px"
                href="@link" target="_blank" id="mojNalog">Moj nalog</a>
        <div><a href="@link" target="_blank">@link</a></div>

        <p>Srdačan pozdrav, <br/>
            @application.Naziv tim
        </p>
        <img src="@logoSrc" alt="" />
    }
</div>