@using rs.mvc.Korisnici.Model
@{
    ViewBag.Title = "Zaboravljena lozinka";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles
{
    <link href="~/Content/account.css" rel="stylesheet" />
}
@section scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        function error(err, xhr, status) {
            $("p.errorSummary").text("Promena lozinke nije uspela");
        }
        function success(response) {
            if (response.Status == 5) {
                $("p.errorSummary").text("Promena lozinke nije uspela: " + response.Message);
            } else if (response.Status == 4) {
                $("p.errorSummary").text('');
                MVCAdmin.info(response.Message);
            }
        }
        $(function() {
            $("#email").jqxInput({ theme: MVCAdmin.defaultTheme, placeHolder: 'Unesite registrovani e-mail za vaš nalog' });
            $("#btnSubmit").jqxButton({ theme: MVCAdmin.defaultTheme });
            var form = $("form");
            form.jqxValidator({
                hintType: 'label',
                rules: [
                    { input: '#email', message: 'Unesite e-mail', rule: 'required'},
                    { input: '#email', message: 'E-mail nije ispravan', rule: 'email'}
                ]
            });
            form.submit(function() {
                return form.jqxValidator('validate');
            });
        })
    </script>
}

<div class="content">
    @{
        var aplikacija = (Aplikacija)ViewBag.Aplikacija;
    }
    @if (aplikacija.Logo != null)
    {
        <a href="@aplikacija.HomeUrl"><img src="@Url.Content("~/Content/images/logo/" + aplikacija.Logo)" alt="@aplikacija.Naziv" /></a>
    }
    else
    {
        <a href="@aplikacija.HomeUrl"><h1>@aplikacija.Naziv</h1></a>
    }
    <img src="@Url.Content("~/resources/loader.gif")" alt="" style="float: right; padding-top: 16px; display: none" id="loader" />
    @using (Ajax.BeginForm("ResetujLozinku", new AjaxOptions(){OnFailure = "error", OnSuccess = "success", LoadingElementId = "loader"}))
    {
        @Html.Hidden("appCode", aplikacija.Kod)
        <div class="line">
            <input type="email" id="email" name="email" />
        </div>    
        <div class="line">
            
            <input type="submit" value="Resetuj lozinku" id="btnSubmit" />
        </div>
        <p class="errorSummary"></p>
    } 
    <div class="line">
        <a href="javascript:history.go(-1);">&lt;&lt; Nazad</a>
    </div> 
</div>


